lib/ekylibre/ednotif/resources/WsAnnuaire.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#13316. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#13316. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.fiea.org/tk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.fiea.org/tk/" name="WsAnnuaire">
<types>
<xsd:schema>
<xsd:import namespace="http://www.fiea.org/types/" schemaLocation="http://wstest1-directory.fiea.fr:80/wsannuaire/WsAnnuaire?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.fiea.org/tk/" schemaLocation="http://wstest1-directory.fiea.fr:80/wsannuaire/WsAnnuaire?xsd=2"/>
</xsd:schema>
</types>
<message name="tkGetServices">
<part name="parameters" element="tns:tkGetServicesRequest"/>
</message>
<message name="tkGetServicesResponse">
<part name="parameters" element="tns:tkGetServicesResponse"/>
</message>
<message name="tkGetOperationsServiceVersion">
<part name="parameters" element="tns:tkGetOperationsServiceVersionRequest"/>
</message>
<message name="tkGetOperationsServiceVersionResponse">
<part name="parameters" element="tns:tkGetOperationsServiceVersionResponse"/>
</message>
<message name="tkGetVersionsService">
<part name="parameters" element="tns:tkGetVersionsServiceRequest"/>
</message>
<message name="tkGetVersionsServiceResponse">
<part name="parameters" element="tns:tkGetVersionsServiceResponse"/>
</message>
<message name="tkGetUrl">
<part name="parameters" element="tns:tkGetUrlRequest"/>
</message>
<message name="tkGetUrlResponse">
<part name="parameters" element="tns:tkGetUrlResponse"/>
</message>
<portType name="WsAnnuaire">
<operation name="tkGetServices">
<input wsam:Action="http://localhost:8080/WsAnnuaire/tkGetServices" message="tns:tkGetServices"/>
<output wsam:Action="http://www.fiea.org/tk/WsAnnuaire/tkGetServicesResponse" message="tns:tkGetServicesResponse"/>
</operation>
<operation name="tkGetOperationsServiceVersion">
<input wsam:Action="http://localhost:8080/WsAnnuaire/tkGetOperationsServiceVersion" message="tns:tkGetOperationsServiceVersion"/>
<output wsam:Action="http://www.fiea.org/tk/WsAnnuaire/tkGetOperationsServiceVersionResponse" message="tns:tkGetOperationsServiceVersionResponse"/>
</operation>
<operation name="tkGetVersionsService">
<input wsam:Action="http://localhost:8080/WsAnnuaire/tkGetVersionsService" message="tns:tkGetVersionsService"/>
<output wsam:Action="http://www.fiea.org/tk/WsAnnuaire/tkGetVersionsServiceResponse" message="tns:tkGetVersionsServiceResponse"/>
</operation>
<operation name="tkGetUrl">
<input wsam:Action="http://localhost:8080/WsAnnuaire/tkGetUrl" message="tns:tkGetUrl"/>
<output wsam:Action="http://www.fiea.org/tk/WsAnnuaire/tkGetUrlResponse" message="tns:tkGetUrlResponse"/>
</operation>
</portType>
<binding name="WsAnnuaireBSOAPBinding" type="tns:WsAnnuaire">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="tkGetServices">
<soap:operation soapAction="http://localhost:8080/WsAnnuaire/tkGetServices"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tkGetOperationsServiceVersion">
<soap:operation soapAction="http://localhost:8080/WsAnnuaire/tkGetOperationsServiceVersion"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tkGetVersionsService">
<soap:operation soapAction="http://localhost:8080/WsAnnuaire/tkGetVersionsService"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tkGetUrl">
<soap:operation soapAction="http://localhost:8080/WsAnnuaire/tkGetUrl"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WsAnnuaire">
<port name="WsAnnuaireBSOAP" binding="tns:WsAnnuaireBSOAPBinding">
<soap:address location="http://wstest1-directory.fiea.fr:80/wsannuaire/WsAnnuaire"/>
</port>
</service>
</definitions>